<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Assessment Portal</h5>

  <!-- <div>
    <ul class="nav" *ngIf="isLoggedIn">
      <li class="nav-item mr-5" routerLink="/dashboard">
        Dashboard
      </li> -->

  <!-- <li class="nav-item mr-5"  routerLink="/our-team">
        Our Team
      </li> -->
  <!-- </ul>
  </div> -->
  <div>
    <ul class="nav" *ngIf="isLoggedIn">
      <li class="nav-item" (click)="logout()">Logout</li>
    </ul>
  </div>
  <!-- <app-timer *ngIf="url ==='/quiz'"></app-timer> -->
</div>