<form *ngIf="!isQuestionSubmitted">
  <div class="container p-5">
    <div class="container" *ngFor="let question of questions; let i = index">
      <div class="question ml-sm-5 pl-sm-5">
        <div class="py-2 h5">
          <b>Q{{ i + 1 }}. {{ question.questionTitle }}</b>
        </div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
          <label class="options">
            <input
              type="radio"
              [name]="question.questionId"
              value="option1"
              (change)="onChange(i, 'option1')"
            />
            <span class="checkmark"></span>
            {{ question.option1 }}
          </label>
          <label class="options">
            <input
              type="radio"
              [name]="question.questionId"
              value="option2"
              (change)="onChange(i, 'option2')"
            />
            <span class="checkmark"></span>
            {{ question.option2 }}
          </label>
          <label class="options">
            <input
              type="radio"
              [name]="question.questionId"
              value="option3"
              (change)="onChange(i, 'option3')"
            />
            <span class="checkmark"></span>
            {{ question.option3 }}
          </label>
          <label class="options">
            <input
              type="radio"
              [name]="question.questionId"
              value="option4"
              (change)="onChange(i, 'option4')"
            />
            <span class="checkmark"></span>
            {{ question.option4 }}
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <button class="registerbtn" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div *ngIf="isQuestionSubmitted" class="result-page">
   
        <div class="container p-5">
            <h1>Thanks for giving Assessment.</h1>
            <h1>Your Score is {{ score }}</h1>
            <p>We will connect you soon</p>
        </div>
</div>
